* {
  font-family: sans-serif;
}

h1 {
  color:#FFA500;
  font-size:100px;
  text-align:center;
  font-weight:bold;
  font-style:italic;
  text-decoration:underline;
}

#poem {
  color: darkgrey;
  text-align:center;
  font-style:italic;
}
