* {
  font-family: sans-serif;
}

h1 {
  color:#FFA500;
  font-size:70px;
  text-align:center;
  font-weight:bold;
  margin-top:40px;
}

#poem {
  color: darkgrey;
  text-align:center;
  font-style:italic;
}

li, td, #poem {
  /*
  This is a CSS comment.
  Line Height is the vertical space a line of text will take.
  The em unit is the number of pixels a capital M will take.
  */
  line-height:1.5em;
}

.center {
  text-align:center;
}

#gold {
  color:gold;
}


h2 {
  margin-top:50px;
}

.left_column {
  float:left;
  width:33%;
}

.center_column {
  float:left;
  width:33%;
}
.right_column {
  float:left;
  width:33%;
}

.clearfix {
  clear:both;
}

#pie_drawing {
  position:fixed;
  bottom:20px;
  right:20px;
  width:30px;
  opacity:0.25;
}

body {
  background-image: url('background.jpg');
  background-size: cover;
}

a:hover {
  color: red;
}

#pie_image {
  border: 5px gold dashed;
  width:400px;
  margin-bottom:50px;
}

#delicious_banner {
  position:relative;
  margin-bottom: -370px;
  top:90px;
  z-index: 1;
}

.center_div h2 {
  text-align: center;
}

table {
  width:100%;
}
