* {
  font-family: sans-serif;
}

h1 {
  color:#FFA500;
  font-size:100px;
  text-align:center;
  font-weight:bold;
  font-style:italic;
  text-decoration:underline;
}

#poem {
  color: darkgrey;
  text-align:center;
  font-style:italic;
}

li, td, #poem {
  /*
  This is a CSS comment.
  Line Height is the vertical space a line of text will take.
  The em unit is the number of pixels a capital M will take.
  */
  line-height:1.5em;
}
